.setting-row {
    &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }

    label {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 20px;
        cursor: pointer;

        .label-wrapper {
            font-size: 13px;

            .label {
                color: rgb(32, 33, 36);
            }

            .sub-label {
                color: rgb(95, 99, 104);
            }
        }
    }
}
