{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "edge": "17",
                    "firefox": "60",
                    "chrome": "67",
                    "safari": "11.1"
                },
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ],
        "@babel/typescript",
        "@babel/react"
    ],
    "plugins": [
        "syntax-dynamic-import",
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        "react-hot-loader/babel",
        [
            "import",
            {
                "libraryName": "antd",
                "library": "lib",
                "style": true
            }
        ]
    ]
}
