{
    "env": {
        "browser": true,
        "es6": true,
        "webextensions": true
    },
    "extends": ["airbnb", "plugin:prettier/recommended"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": ["react", "@typescript-eslint"],
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    },
    "rules": {
        "import/prefer-default-export": "off",
        "react/jsx-filename-extension": "off",
        "react/jsx-indent": "off"
    }
}
