{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "webextensions": true
    },
    "extends": ["airbnb", "airbnb/hooks", "plugin:@typescript-eslint/recommended", "prettier"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "plugins": ["@typescript-eslint", "react"],
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".ts", ".tsx", ".js", ".json"]
            },
            "typescript": {}
        }
    },
    "rules": {
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-filename-extension": ["error", { "extensions": [".ts", ".tsx", ".js"] }],
        "react/jsx-one-expression-per-line": "off",

        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
        "import/extensions": "off",

        "func-names": "off",
        "global-require": "off",
        "lines-between-class-members": "off",
        "no-console": "off",
        "no-plusplus": "off",
        "no-unused-expressions": "off",
        "no-useless-constructor": "off",

        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-useless-constructor": "error",
        "@typescript-eslint/no-var-requires": "off"
    },
    "overrides": [
        {
            "files": ["**/*.d.ts"],
            "rules": {
                "import/no-duplicates": "off",
                "max-classes-per-file": "off"
            }
        },
        {
            "files": ["server/**/*.ts"],
            "rules": {
                "global-require": "off",

                "import/no-extraneous-dependencies": "off",
                "import/no-dynamic-require": "off",

                "@typescript-eslint/no-var-requires": "off"
            }
        }
    ]
}
