.block-post-infos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    text-align: center;

    .show-block-posts-icon {
        margin-left: 10px;
        color: #25bb9a7e;
        font-size: 16px;
        cursor: pointer;

        &:active {
            color: #25bb9a4b;
        }
    }
}
