.setting-card {
    width: 680px;

    .card-header {
        height: 65px;
        padding-top: 30px;

        .title {
            color: rgb(32, 33, 36);
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.25px;
        }
    }

    .card-body {
        background-color: white;
        border-radius: 4px;
        box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    }
}
